@model AdventurousContacts.Models.Contact
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="main">
    <div id="successBox">
        <h1>Borttagning lyckades!</h1>
        <p>
            @Model.FirstName @Model.LastName (@Model.EmailAddress) har tagits bort
        </p>
        <div>
            @Html.ActionLink("Tillbaka", "Index")
        </div>
    </div>
</div>    
