@model AdventurousContacts.Models.Contact
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Borttagning lyckades!</title>
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>
    <div id="main">
        <div id="successBox">
            <h1>Borttagning lyckades!</h1>
            <p>
                @Model.FirstName @Model.LastName (@Model.EmailAddress) har tagits bort
            </p>
            <div>
                @Html.ActionLink("Tillbaka", "Index")
            </div>
        </div>
    </div>    
</body>
</html>
