@{
    ViewBag.Title = "EditError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="main">
    <div id="errorBox">
        <p>Det gick inte att redigera den valda kontakten</p>
        <div>
            @Html.ActionLink("Tillbaka", "Index")
        </div>
    </div>
</div>

